body {
  height: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 2.1em;
  line-height: 1.2em;
  font-weight: 600;
}

h2 {
  font-size: 1.9em;
  line-height: 1.1em;
}

h1,
h2 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #e7f52a;
}

p {
  font-size: 1.2em;
  padding: 0.5em;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.main-content {
  padding: 0 0 18px;
}

/* menu-responsive */

.menu-responsive {
  position: absolute;
  width: 100%;
  height: 331px;
}

/* box-logo */

.box-logo {
  height: 36px;
  width: 46px;
  float: center;
  margin: 0 auto;
}

/* box-menu */

.box-menu {
  position: absolute;
  height: 34px;
  width: 42px;
  margin: 8px;
  float: left;
}

/* line top */

.header-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #a81008;
}

/* tela-menu */

.menu-responsive ul {
  position: absolute;
  height: 120px;
  width: 100%;
  margin: 0;
  display: none;
  z-index: 1;
  background: #005aa8;
}

/* Tela do menu ativado */

.menu-responsive .active {
  display: block;
}

/* Linha do menu */

.menu-responsive ul li {
  position: relative;
  height: 28px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border-bottom: 1px solid #76b9f5;
}

/* Link do menu */

.menu-responsive ul li a {
  position: absolute;

  text-decoration: none;
  font-family: "Inter";
  font-style: 400;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* Footer */

.footer {
  box-sizing: border-box;

  position: relative;
  width: 100%;
  bottom: 0;
  margin: 0;

  background: #000000;
}

/* Conteúdo rodapé */

.footer p {
  position: relative;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* identical to box height */
  height: 38px;

  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer p {
    height: 35px;
    font-size: 1.8em;
  }
  .menu-responsive ul {
    height: 200px;
  }
  .menu-responsive ul li {
    height: 48px;
    justify-content: center;
  }
  .menu-responsive ul li a {
    font-size: 1.4em;
  }

  .main-content {
    padding: 0 0 35px;
  }
}
