/* Banner Começo */

.banner-top img {
  width: 375px;
  height: auto;
  display: block;
  margin: 10px auto;
}

/* Tabela Informacional */

table {
  position: relative;
  width: 375px;
  height: 202px;
  padding: 10px;
  margin: 20px auto;
}

table,
th,
td,
caption {
  border: 1px solid;
  background-color: antiquewhite;
}

caption {
  font-weight: 600;
}

/* Content */

.main-content p {
  padding: 10px;
  margin: 10px 20px;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .banner-top img {
    width: 600px;
  }

  table {
    width: 600px;
    height: 220px;
  }
}

@media screen and (min-width: 1024px) {
  .banner-top img {
    width: 900px;
  }
}
